* {
  box-sizing: border-box;
}

body {
  background: #f6f5ef;
}

.word-count {
  display: grid;

  justify-items: center;

  padding: 96px 0;

  height: 100%;
  max-height: 353px;
}

.main-title {
  color: #e15b46;

  line-height: 32px;

  padding-bottom: 8px;

  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
}

.main-description {
  color: #252524;

  font-size: 16px;
  font-family: Roboto;

  line-height: 16px;
}

.counters {
  display: flex;

  background-color: #ffffff;

  width: 100%;
  max-width: 736px;
  height: 85px;

  margin-top: 48px;

  border-bottom: 1px solid #e5e5e5;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  font-size: 13px;
  font-family: Roboto;

  align-items: center;
  overflow: auto;
}

.words-counter {
  order: 1;
  width: 33.3333%;
  text-align: center;

  border-right: 1px solid #e5e5e5;
}

.chars-counter {
  order: 2;
  width: 33.3333%;
  text-align: center;

  border-right: 1px solid #e5e5e5;
}

.chars-excl-counter {
  order: 3;
  width: 33.3333%;
  text-align: center;
}

textarea {
  max-width: 736px;
  width: 100%;
  height: 268px;

  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  color: #000000;

  padding: 20px;

  font-family: Roboto;
  font-size: 16px;

  resize: none;
  outline: none;
}

textarea::placeholder {
  color: #dad6d6;
}

footer {
  color: #908f8f;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 13px;
  font-family: Roboto;
  margin-bottom: 32px;
}

/* Logic for changing className to color */

.uncolored-words {
  color: #e5e5e5;
  font-size: 32px;
}

.colored-words {
  color: #e15b46;
  font-size: 32px;
}

.uncolored-chars {
  color: #e5e5e5;
  font-size: 32px;
}
.colored-chars {
  color: #e15b46;
  font-size: 32px;
}

.uncolored-chars-excl {
  color: #e5e5e5;
  font-size: 32px;
}
.colored-chars-excl {
  color: #e15b46;
  font-size: 32px;
}

.colored-text-1 {
  color: #000000;
}

.uncolored-text-1 {
  color: #e5e5e5;
}

.colored-text-2 {
  color: #000000;
}

.uncolored-text-2 {
  color: #e5e5e5;
}

.colored-text-3 {
  color: #000000;
}

.uncolored-text-3 {
  color: #e5e5e5;
}

@media only screen and (max-width: 600px) {
  .word-count {
    display: grid;
    justify-items: center;
    padding: 20px 0;
    height: 100%;
    max-height: 353px;
  }

  .counters {
    font-size: 12px;
    height: 110px;
  }

  footer {
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 461px) {
  .chars-excl-counter {
    padding-top: 15px;
  }
}
